body{
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
}
.menu{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0;
    margin: 0;
}
.menu-begin{
    padding: 20px;
    width: 250px;
    height: 65px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color:rgb(220 220 220 / 35%);
    color: white;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

}
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.game-container__game{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 800px;
}
.game-container__game button{
    border: 5px solid black;
    width: 350px;
    height: 350px;
    /* outline: none; */
}
.button1{
    border-top-left-radius: 350px;
    background-color: red;
}
.button1.light{
    background-color: #b35e5e;
}
.button2{
    border-top-right-radius: 350px;
    background-color: blue;
}
.button2.light{
    background-color: #6666b9;
}
.button3{
    border-bottom-left-radius: 350px;
    background-color: yellow;
}
.button3.light{
    background-color: #f3f38a;
}
.button4{
    border-bottom-right-radius: 350px;
    background-color: green;
}
.button4.light{
    background-color: #7dcc7d;
}